$display-values: (
  block,
  flex,
  inline,
  inline-block,
  inline-flex,
  none,
  table,
  table-cell
) !default;

$edges: (
  top: (
    top-left,
    top-right,
  ),
  right: (
    top-right,
    bottom-right,
  ),
  bottom: (
    bottom-right,
    bottom-left,
  ),
  left: (
    bottom-left,
    top-left,
  ),
) !default;

$spacer: 8px !default;

$spacer-0: 0 !default;
$spacer-1: round($spacer / 2) !default;
$spacer-2: $spacer !default;
$spacer-3: $spacer * 2 !default;
$spacer-4: $spacer * 3 !default;
$spacer-5: $spacer * 4 !default;
$spacer-6: $spacer * 5 !default;

$spacers: (
  $spacer-0,
  $spacer-1,
  $spacer-2,
  $spacer-3,
  $spacer-4,
  $spacer-5,
  $spacer-6
) !default;

$spacer-map: (
  0: $spacer-0,
  1: $spacer-1,
  2: $spacer-2,
  3: $spacer-3,
  4: $spacer-4,
  5: $spacer-5,
  6: $spacer-6,
) !default;

$em-spacer-1: 0.0625em !default;
$em-spacer-2: 0.125em !default;
$em-spacer-3: 0.25em !default;
$em-spacer-4: 0.375em !default;
$em-spacer-5: 0.5em !default;
$em-spacer-6: 0.75em !default;

$container-width: 980px !default;
$grid-gutter: 10px !default;

$width-xs: 0 !default;
$width-sm: 544px !default;
$width-md: 768px !default;
$width-lg: 1012px !default;
$width-xl: 1280px !default;

$container-sm: $width-sm !default;
$container-md: $width-md !default;
$container-lg: $width-lg !default;
$container-xl: $width-xl !default;

$breakpoints: (
  sm: $width-sm,
  md: $width-md,
  lg: $width-lg,
  xl: $width-xl,
) !default;

$responsive-variants: (
  "": "",
  sm: "-sm",
  md: "-md",
  lg: "-lg",
  xl: "-xl",
) !default;

$responsive-positions: (static, relative, absolute, fixed, sticky) !default;
